// nextflow.config
conda.enabled = true
docker.enabled = false
singularity.enabled = false
podman.enabled = false

// Force local execution and disable containers
process {
    executor = 'local'
    containerEnabled = false
}

profiles {
    conda {
        conda.enabled = true
        process.executor = 'local'  // Explicitly set to local execution
        docker.enabled = false
        singularity.enabled = false
        k8s.enabled = false
    }
}
